<body>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="sidenav">
  <button class="button" (click)="inbox()">Inbox</button>
  <button class="button" (click)="send()">Send to</button>
  <button class="button" (click)="contacts()">Contact</button>
  <button class="button" (click)="draft()">Draft</button>
  <button class="button" (click)="sent()">Sent Emails</button>
  <button class="button" (click)="bin()">Bin</button>
  <button class="button" (click)="search()">Search</button>
  <button class="button2">My Folders</button>
  <button class="button" (click)="profile()">My Profile</button>
</div>
<div class="main">
  <div class="toolbox">
    <button title="New folder" (click)="on()">
      <i class="material-icons">folder</i>
    </button>
    <button
      title="Delete"
      class="{{ isDeleting ? 'active' : '' }}"
      (click)="delete()"
    >
      <i class="material-icons">delete</i>
    </button>
  </div>
  <div id="container">
    <div *ngFor="let button of getFolders(); let i = index">
      <button
        *ngIf="button.visible"
        class="folder"
        (click)="action(i, button.name)"
      >
        <i class="material-icons">folder</i><span>{{ button.name }}</span>
      </button>
    </div>
  </div>
  <div id="display" #myDisplay>
    <div class="msg">
      <input id="t1" type="text" [(ngModel)]="name" /><br />
      <button id="b1" (click)="off()">OK</button>
    </div>
  </div>
</div>
</body>