body{
	height: 97vh;
    background: url(../../back6.jpg) no-repeat;
    background-size: 300% 400%;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(25, 25, 70); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 76px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  
}  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.button{
  margin: 20px 0 5px 0;
height: 45px;
width: 150px;
font-size: 20px;
color: white;
outline: none;
cursor: pointer;
font-weight: bold;
background: rgb(25, 25, 70);
border-radius: 3px;
border: 1px solid rgb(25, 25, 70);
transition: .5s;
}
.button:hover{
  background: rgb(82, 82, 87);
  border: 5px solid #1968e6;
}
.button2{
  margin: 20px 0 5px 0;
height: 45px;
width: 150px;
font-size: 20px;
color: white;
outline: none;
cursor: pointer;
font-weight: bold;
background: rgb(82, 82, 87);
border-radius: 3px;
border: 1px solid #3949AB;
border: 5px solid #1968e6;
transition: .5s;
}
#folder {
  height: 30px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  color: #95979b;
}
#folder:hover {
  background-color: #d4d5d8;
  border-radius: 50%;
  cursor: pointer;
}
input.folder {
  width: 85px;
  height: 20px;
  text-align: left;
  padding: 0 6%;
  font-size: 10px;
  background-color: white;
  border: none;
  color: #1d2127;
  border-radius: 10px;
}
input.folder:focus {
  outline: 2px solid #d4d5d8;
}
#delete{
  margin-left: 580px;
  background-color: #d4d5d8;
  border-radius: 50%;
  color: #a37171;
  cursor: pointer;
 }
header {
  height: 10%;
  display: flex;
  padding: 5px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}
#refresh{
  margin-left: 200px;
  cursor: pointer;
  background-color: #182e6f;
  border-radius: 25px;
}
input.search {
  width: 555px;
  height: 50px;
  text-align: left;
  padding: 0 6%;
  font-size: 20px;
  background-color: #eee;
  border: none;
  color: #1d2127;
  border-radius: 10px;
}
input.search:focus {
  outline: 2px solid #d4d5d8;
}
header button {
  height: 64%;
  background-color: #eee;
  border: none;
  color: #95979b;
}
button.search {
  margin-right: -5%;
  z-index: 1;
}
button.filter {
  margin-left: -5%;
  padding-top: 5px;
}
button.search:hover, button.filter:hover {
  background-color: #d4d5d8;
  border-radius: 50%;
  cursor: pointer;
}

.filterAdvanced{
  position: absolute;
  top: 100px;
  right: 450px;
  background-color: #eee;
  display: none;
  border-radius: 10px;
  color: #95979b;
}

  
.SortAdvanced{
  position: absolute;
  top: 165px;
  right: 1150px;
  background-color: #eee;
  display: none;
  border-radius: 10px;
  color: #95979b;
}
div.toolbox {
  width: 80%;
  height: 6.5%;
  display: flex;
  background-color: #eee;
  margin: auto;
  margin-left: 200px;
  padding: 0 3%;
  align-items: center;
}
div.toolbox a {
  text-align: left;
  margin-left: 6%;
  cursor: pointer;
  font-weight: bold;
  color: #424242;
}

div.toolbox a:hover {
  color: #6BD30B;
  text-decoration: underline;
}

div.toolbox button {
  color: #95979b;
  border: none;
  margin-right: 3%;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
}
div.toolbox button:hover {
  background-color: #d4d5d8;
  border-radius: 10%;
}
div.toolbox button.read, div.toolbox  {
  color: deepskyblue;
  cursor: pointer;
}
div.toolbox span {
  color: #424242;
  margin-left: 2%;
  padding-right: 2.5%;
  font-weight: bold;
  width: 8.5%;
  white-space: nowrap;
  text-align: left;
}

div.toolbox button:disabled {
  color: #95979b;
}
#emails{
  border-radius: 10px;
  border: 3px solid #3949AB;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #f1f2f4;
 } 
 h2{
  padding-left: 10px;
 }
 span{
  font-size: 24px;
  color: #2859eb;
  padding-bottom: 25px;
 }
 h2{
  color:#2859eb ;
 }
 #text{
  font-size: 18px;
  color:black;
  padding-right: 5px;
 }
 .pagination{
  margin-left: 450px;
  font-size: 25px;
  }
  #att{
    color: brown;
    font-size: 20px;
    display: none;
  }
  #download{
    background-color: #153699;
    color: #6BD30B;
    width: 185px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
  }
  #fol{
    color: brown;
    font-size: 20px;
    display: none;
  }
  #fol2{
    color: brown;
    font-size: 20px;
    display: none;
  }
  #att1,#att2,#att3,#att4,#att5,#att6{
    display:none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 15px;
    
  }
  #delete2{
    background-color: #d4d5d8;
    border-radius: 50%;
    color: #a37171;
    cursor: pointer;
   }
  
   #miniMessage{
    display:inline;
   }
   .msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: gray;
    width: 65%;
    height: 60%;
    border-radius: 20px;
    padding: 15px;
    animation-name: pop;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px rgb(11, 48, 211);
  }
  #display {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
    animation-name: fade;
    animation-duration: 0.7s;
  }
  #emails2{
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 5px;
   }
   #message2{
    background-color: #182e6f;
    border-radius: 25px;
    width: 15px;
    height: 10px;
   }
   #off{
    background-color: white;
    margin-left: 950px;
    border-radius: 10px;
    cursor: pointer;
   }